.nav-container{
  display: flex;
  width:100%;
  height:88px;
  background: #fff;
  position: fixed;

  .nav-container-menu{
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    display: flex;
  }

    .nav-lista{
      display:flex;
      justify-content: center;
      padding-top: 24px;
    }
  

h1{
  font:700 50px 'Roboto Mono', sans-serif;
  color: #F1E3CB;
  }

nav{
  display: flex;

  .link{
    text-decoration: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0 25px;
    height: 100%;
    font:400 18px 'Roboto Mono', sans-serif;
    color: #696969;    
  }

}

  .brand{
    text-decoration: none;
  }

}



